:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.toggle-switch {
  position: relative;
  width: 80px; /* 200px / 2.5 */
}

.label-1 {
  position: absolute;
  width: 100%;
  height: 40px; /* 100px / 2.5 */
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

.input-1 {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.input-1:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 5.2px; /* 13px / 2.5 */
  left: 6.4px; /* 16px / 2.5 */
  width: 30px; /* 75px / 2.5 */
  height: 30px; /* 75px / 2.5 */
  border-radius: 50%;
  box-shadow: inset 11.2px -1.6px 0px 0px var(--light); /* 28px / 2.5 */
  background-color: var(--dark);
  transition: 0.3s;
}

.input-1:checked ~ .slider::before {
  transform: translateX(38px); /* 95px / 2.5 */
  background-color: var(--dark);
  box-shadow: none;
}
